.Button {
  background-color: transparent;
  font-family: 'Cinzel', serif;
  color: #fff;
  padding: 8px 22px;
  border-radius: 22px;
  border: 2px solid #ada6a3;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}

.Button:hover {
  border-color: #fff;
  transition: all 0.2s;
}
