.Difficulty {
  font-size: 1.4rem;
}

.Difficulty > button:not(:last-child) {
  margin-right: 16px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

@media screen and (max-width: 764px) {
  .buttons {
    flex-direction: column;
  }
}
